<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Todo</title>
</head>
<body>
  <form id="add-form">
    <label for="todo-input">
      Enter your todo:
      <input type="text" autofocus id="todo-input" />
    </label>
    <button type="submit">Add</button>
  </form>
  <script>
    const { ipcRenderer } = require('electron');
    let todos = [];
    document.querySelector('#add-form').addEventListener('submit', (evt) => {
      evt.preventDefault();
      const newTodoTitle = evt.target[0].value;
      ipcRenderer.send('todo:add', newTodoTitle);
      document.querySelector('#todo-input').value = '';
    });
  </script>
</body>
</html>