<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main!!!</title>
</head>
<body>
  <h1>使用上方工具列新增 Todos</h1>
  <p>===========================</p>
  <ul class="todo-list"></ul>
  <script>
    const { ipcRenderer } = require('electron');
    const todoList = document.querySelector('.todo-list');
    ipcRenderer.on('todo:add', (evt, todoTitle) => {
      const li = document.createElement('li');
      const text = document.createTextNode(todoTitle);
      li.appendChild(text);
      todoList.appendChild(li);
    });
    ipcRenderer.on('todo:clear', () => {
      todoList.innerHTML = '';
    });
  </script>
</body>
</html>