<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main!!!</title>
</head>
<body>
  <h1>使用上方工具列新增 Todos</h1>
  <p>===========================</p>
  <ul class="todo-list"></ul>
  <p>===========================</p>
  <script>
    const { ipcRenderer } = require('electron');
    let todos = [];
    ipcRenderer.on('todo:add', (evt, todoTitle) => {
      todos = todos.concat(todoTitle);
      todoList = todos.map(todo => `<li>${todo}</li>`);
      document.querySelector('.todo-list').innerHTML = todoList.join('');
    });
  </script>
</body>
</html>